.App {
  text-align: center;
}

$colorTheme: #F5EFE1;

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffffc1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #f05400 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f05400;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

* {
  box-sizing: border-box;
}

html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.btn {
  border: 2px solid darken($colorTheme, 15%);
  border-radius: 8px;
  cursor: pointer;
  min-width: 250px;
  min-height: 80px;
}

.myButton {
  @extend .btn;
  background: darken($colorTheme, 5%);
  color: darken($colorTheme, 60%);
  font-family: 'Lora', serif;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  position: relative;
  transform: skewX(20deg);
  
  
  &::before {
    @extend .btn;
    content: attr(data-label);
    background: $colorTheme;
    display: grid;
    place-items: center;
    position: absolute;
    top: -1rem; left: 1rem;
    z-index: -1;
    transition: all 0.5s ease;
  }
  
  &:hover {
      &::before {
      top: -2px; left: -2px;
    }
  }
  
  &:focus {
    outline: none;
  }
}

section {
  display: flex;
  width: 100vw;
  background: #EEE;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  font-size: 10vw;
  border-bottom: 1px solid #666;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: normal;
  margin: 0;
  z-index: 100;
}

.letter {
  font-size: 15vw;
  display: inline-block;
  color: white;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

}

.section{
  margin-top: 7%;
}

