@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #d1c9dc;
    overflow: hidden;
    z-index: -100;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

span img {
    width: 800px;
}

.background span:nth-child(0) {
  
    top: 57%;
    left: 55%;
    animation-duration: 11s;
    animation-delay: -23s;
    transform-origin: 3vw -1vh;
 
}
.background span:nth-child(1) {
  
    top: 81%;
    left: 14%;
    animation-duration: 38s;
    animation-delay: -30s;
    transform-origin: -14vw -12vh;

}
.background span:nth-child(2) {
  
    top: 64%;
    left: 17%;
    animation-duration: 34s;
    animation-delay: -13s;
    transform-origin: 5vw 22vh;
   
}
.background span:nth-child(3) {
    
    top: 92%;
    left: 28%;
    animation-duration: 25s;
    animation-delay: -9s;
    transform-origin: -21vw -16vh;
 
}
.background span:nth-child(4) {
    
    top: 58%;
    left: 65%;
    animation-duration: 52s;
    animation-delay: -22s;
    transform-origin: 25vw -18vh;
  
}
.background span:nth-child(5) {
    
    top: 73%;
    left: 45%;
    animation-duration: 24s;
    animation-delay: -7s;
    transform-origin: 19vw 7vh;
   
}
.background span:nth-child(6) {
    
    top: 31%;
    left: 99%;
    animation-duration: 45s;
    animation-delay: -18s;
    transform-origin: 2vw -7vh;

}
.background span:nth-child(7) {
    
    top: 20%;
    left: 41%;
    animation-duration: 16s;
    animation-delay: -8s;
    transform-origin: 8vw 4vh;
 
}
.background span:nth-child(8) {
    
    top: 76%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -9s;
    transform-origin: 14vw -12vh;

}
.background span:nth-child(9) {
  
    top: 22%;
    left: 73%;
    animation-duration: 25s;
    animation-delay: -35s;
    transform-origin: 20vw -20vh;
  
}
.background span:nth-child(10) {
  
    top: 69%;
    left: 46%;
    animation-duration: 29s;
    animation-delay: -45s;
    transform-origin: 19vw -22vh;
  
}
.background span:nth-child(11) {
  
    top: 46%;
    left: 77%;
    animation-duration: 41s;
    animation-delay: -45s;
    transform-origin: 19vw 10vh;

}
